.counter {
  background-color: #8BC34A;
  font-size: 1.5rem;
  font-weight: 700;
}

.counter button {
  background-color: #512DA8;
  border: none;
  color: #FFFFFF;
  height: 30px;
  width: 50px;
  margin-right: 5px;

  outline: none;
}

.counter button:hover {
  background-color: #673AB7 ;
}

.counter button:active {
  background-color: #303F9F;
}